In [9]:
from nltk.corpus import reuters
from nltk.tokenize import sent_tokenize, word_tokenize
import pandas as pd

In [10]:
# Search through all categories
print(reuters.categories())

['acq', 'alum', 'barley', 'bop', 'carcass', 'castor-oil', 'cocoa', 'coconut', 'coconut-oil', 'coffee', 'copper', 'copra-cake', 'corn', 'cotton', 'cotton-oil', 'cpi', 'cpu', 'crude', 'dfl', 'dlr', 'dmk', 'earn', 'fuel', 'gas', 'gnp', 'gold', 'grain', 'groundnut', 'groundnut-oil', 'heat', 'hog', 'housing', 'income', 'instal-debt', 'interest', 'ipi', 'iron-steel', 'jet', 'jobs', 'l-cattle', 'lead', 'lei', 'lin-oil', 'livestock', 'lumber', 'meal-feed', 'money-fx', 'money-supply', 'naphtha', 'nat-gas', 'nickel', 'nkr', 'nzdlr', 'oat', 'oilseed', 'orange', 'palladium', 'palm-oil', 'palmkernel', 'pet-chem', 'platinum', 'potato', 'propane', 'rand', 'rape-oil', 'rapeseed', 'reserves', 'retail', 'rice', 'rubber', 'rye', 'ship', 'silver', 'sorghum', 'soy-meal', 'soy-oil', 'soybean', 'strategic-metal', 'sugar', 'sun-meal', 'sun-oil', 'sunseed', 'tea', 'tin', 'trade', 'veg-oil', 'wheat', 'wpi', 'yen', 'zinc']

In [55]:
# We'll find the first article about cpi
a_id= reuters.fileids(categories = 'cpi')[0]

In [85]:
t_article = reuters.raw(a_id)
len(t_article)

423

In [87]:
sent = article.split('.')[0].split(' ')
#sent

In [42]:
# Now using NLTK's sent_tokenize function
sentence  = sent_tokenize(article)
#sentence

In [53]:
words = [word_tokenize(t) for t in sentence]
len(words)

29

In [81]:
tokenized_df = pd.DataFrame(columns=['article_id', 't_article', 't_sentence', 't_word'])

In [83]:
for a_id in reuters.fileids(categories = 'cpi'):
    t_article = reuters.raw(a_id)
    t_sentence  = sent_tokenize(t_article)
    t_word = [word_tokenize(t) for t in sentence]
    tokenized_df = tokenized_df.append({'article_id': a_id, 't_article': t_article, 't_sentence':t_sentence, 't_word':t_word}, ignore_index=True)
tokenized_df.set_index('article_id', inplace = True)
tokenized_df.head()

,t_article,t_sentence,t_word
article_id,,,
test/14891,ECONOMIC SPOTLIGHT - KUWAITI ECONOMY\n Kuwait...,[ECONOMIC SPOTLIGHT - KUWAITI ECONOMY\n Kuwai...,"[[ECONOMIC, SPOTLIGHT, -, KUWAITI, ECONOMY, Ku..."
test/14918,INDONESIAN INFLATION RATE 8.8 PCT IN 1986/87\n...,[INDONESIAN INFLATION RATE 8.8 PCT IN 1986/87\...,"[[ECONOMIC, SPOTLIGHT, -, KUWAITI, ECONOMY, Ku..."
test/16103,HUNGARY RAISES PRICES IN EFFORT TO CURB DEFICI...,[HUNGARY RAISES PRICES IN EFFORT TO CURB DEFIC...,"[[ECONOMIC, SPOTLIGHT, -, KUWAITI, ECONOMY, Ku..."
test/16108,"AUSTRALIAN GOVERNMENT MUST CUT SPENDING, ANZ S...","[AUSTRALIAN GOVERNMENT MUST CUT SPENDING, ANZ ...","[[ECONOMIC, SPOTLIGHT, -, KUWAITI, ECONOMY, Ku..."
test/16118,"YUGOSLAV ECONOMY WORSENED IN 1986, BANK DATA S...","[YUGOSLAV ECONOMY WORSENED IN 1986, BANK DATA ...","[[ECONOMIC, SPOTLIGHT, -, KUWAITI, ECONOMY, Ku..."